<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.videoengager.demoapp">

    <permission
        android:name="android.permission.FLASHLIGHT"
        tools:node="remove"
        tools:selector="com.videoengager.sdk" />

    <application
        android:name=".ErrorReportingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartVideo">
        <activity
            android:name=".AvailabilityActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleResultActivity"
            android:exported="false" />
        <activity
            android:name=".AdditionalSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LangSelectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GCActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VEActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter
                android:autoVerify="true"
                android:label="SmartVideo Call">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="videome.leadsecure.com" />
                <data android:host="videome.videoengager.com" />
                <data android:host="davivienda.videoengager.com" />
                <data android:pathPrefix="/ve/" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GEActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebChat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>